.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.cardLogin{
  width:30%;
  justify-content: center;
  margin-left: 34%;
  margin-top: 7%;
}
.MuiPaper-elevation1-5 {
  box-shadow: 0px 1px 3px 6px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)!important
}
.login{
  width: 250px; 
  border: 10px;
  padding: 35px;
  background-blend-mode: lighten;
  text-align:center;
  }
  .loginh1{
    font-size: 24px
  }
  .loginh2{
    font-size: 16px;
  }
  .loginTextField1{
    width: 119%
  }
  .loginForgot{
    margin-left: 21%
  }
  .loginCreate{
    margin-top: 7%
  }
.nextLogin{
  display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 17%
  }

.cardRegister{
  width:45%;
  justify-content: center;
  margin-left: 27%;
  margin-top: 7%;
}
.register{
  width: 473px; 
  border: 10px;
  padding: 35px;
  background-blend-mode: lighten;
  text-align:center;
}
.registerh1{
  font-size: 24px
}
.nameRegister{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.emailRegister{
  width: 50%;
  display: flex;
}
.nextRegister{
  display: flex;
  flex-direction: row;
  margin-right: 47px;
  justify-content: space-around;
  margin-left: -26%;
  cursor: pointer;
  margin-top: 11%
}
.buttonRegister{
  width: 19%;
    height: 40px;
    background-color: blue;
    color: white;
    margin-right: -172px;
}

.buttonNext{
  width: 33%;
  height: 40px;
  background-color: blue;
  color: white;
  margin-right: -44px;
}
.forgotCard{
width: 32%;
display: inline-grid;
margin-top: 11%;
}
.forgoth1{
  font-size: 24px
}
.fogoth2{
  font-size: 16px
}
.nextForgot{
     width: 19%;
    height: 40px;
    background-color: blue;
    color: white;
    margin-right: -175px;
    margin-bottom: 13px;
    margin-top: 42px;
}
.resetCard{
  width: 30%;
  display: inline-grid;
  justify-content: center;
  margin-top: 9%;
}
.reseth1{
  font-size: 16px
}
 .loginTextField1{
    width: 119%
  }

.App-link {
  color: #61dafb;
}
.MuiAppBar-colorPrimary-11{
  color: fff!important;
  background-color: white !important;
}
.MuiIconButton-colorInherit-45 {
   color:#7b7b7b!important;
}
.MuiTypography-colorInherit-91 {
  color: gray!important;
}

.MuiDrawer-paper-90 {
  top: 14%!important;
}
.PersistentDrawerLeft-drawer-59 {
  width: 0px!important;
  flex-shrink: 0!important;
}
.MuiToolbar-regular-45 {
  min-height: 42px!important;
}
.MuiIconButton-root-47 {
  font-size:.6875rem!important;
}

.labelsDrawer{
  color: #5f6368;
    cursor: default;
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    padding: 15px 24px 10px;
    margin-left: -80%;
}
.MuiAppBar-colorPrimary-14 {
 background-color:white!important;
}
.MuiIconButton-colorInherit-48 {
  color: gray!important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

