.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.cardLogin{
  width:30%;
  justify-content: center;
  margin-left: 34%;
  margin-top: 7%;
}
.MuiPaper-elevation1-5 {
  box-shadow: 0px 1px 3px 6px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)!important
}
.login{
  border: 10px;
  padding: 35px;
  background-blend-mode: lighten;
  text-align:center;
  }
  .loginh1{
    font-size: 24px
  }
  .loginh2{
    font-size: 16px;
  }
  .loginTextField1{
    width: 119%
  }
  .loginCreate{
    margin-top: 7%
  }
.nextLogin{
  display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 17%
  }

.cardRegister{
  width:45%;
  justify-content: center;
  margin-left: 27%;
  margin-top: 7%;
}
.register{
  width: 473px; 
  border: 10px;
  padding: 35px;
  background-blend-mode: lighten;
  text-align:center;
}
.registerh1{
  font-size: 24px
}
.nameRegister{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.emailRegister{
  width: 108%;
  display: flex

}
.nextRegister{
  display: flex;
  flex-direction: row;
  margin-right: 47px;
  justify-content: space-around;
  margin-left: -26%;
  cursor: pointer;
  margin-top: 11%
}
.buttonRegister{
  width: 19%;
    height: 40px;
    background-color: blue;
    color: white;
    margin-right: -172px;
}

.buttonNext{
  width: 33%;
  height: 40px;
  background-color: blue;
  color: white;
  margin-right: 9px;
}
.forgotCard{
width: 32%;
display: inline-grid;
margin-top: 11%;
}
.forgoth1{
  font-size: 24px
}
.fogoth2{
  font-size: 16px
}
.nextForgot{
     width: 19%;
    height: 40px;
    background-color: blue;
    color: white;
    margin-right: -259px;
    margin-bottom: 13px;
    margin-top: 42px;
}
.emailForgot{
   width: 92%;
    margin-left: 4%;
}
.resetCard{
  width: 30%;
  display: inline-grid;
  justify-content: center;
  margin-top: 9%;
}
.reseth1{
  font-size: 16px
}
.resetText{
  WIDTH: 80%;
    MARGIN-LEFT: 10%;
}

 .loginTextField1{
    width: 119%
  }

.App-link {
  color: #61dafb;
}
 
 
.MuiAppBar-colorPrimary-8{
  color: gray!important;
  background-color: white !important;
}
.MuiIconButton-colorInherit-45 {
   color:#7b7b7b!important;
}
/* .MuiTypography-colorInherit-91 {
  color: gray!important;
} */

.MuiDrawer-paper-108 {
  top:75px!important;
}
.PersistentDrawerLeft-drawer-59 {
  width: 0px!important;
  flex-shrink: 0!important;
}
.MuiToolbar-regular-45 {
  min-height: 42px!important;
}
.MuiIconButton-root-47 {
  font-size:.6875rem!important;
}
.MuiFormControl-marginNormal-30 {
  WIDTH: 92%;
}
.MuiIconButton-colorInherit-48 {
  color: gray!important;
}
.MuiTypography-colorInherit-152 {
  color: inherit!important;
}

.appSearchDiv{
    display: flex;
    margin-left: 12%;
    width: 60%;
}
.appSearchCard{
  width: 100%;
}
.appSearchIcon{
  margin-left: -950px;
}
.appSearch{
  margin-left: -60%;
}
.grid{
  margin-left: 8%;
}

.labelsDrawer{
  color: #5f6368;
cursor: default;
letter-spacing: .07272727em;
font-family: Roboto,Arial,sans-serif;
font-size: .6875rem;
font-weight: 500;
line-height: 1rem;
text-transform: uppercase;
padding: 15px 24px 10px;
margin-left: -69%;
}
.MuiAppBar-colorPrimary-14 {
 background-color:white!important;
}
.accountProfile{
  margin-left: 7%;
}
.accountPaper{
   margin-left:  -40%; 
  margin-right: 30%
}
.accountSignOut{
     margin-left: 59%;
     margin-top: 5%;
     width: 31%;
    padding: 2%;
}
.accoutMenuItem{
margin-left: 100px;
margin-top: -56px;
}
 
.noteCreate{
  /* border: solid 2px;  */
  text-align: initial;
  width: 44%;
  height: 40%;
  margin-left: 33%;;
}
.MuiPaper-elevation1-19 {
  box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12)!important;
}
.MuiInput-root-168 {
  margin-left: 2%;
}
.noteClose{
box-sizing: border-box;
color: rgba(0,0,0,0.87);
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
letter-spacing: .01785714em;
font-family: 'Google Sans',Roboto,Arial,sans-serif;
font-size: .875rem;
font-weight: 500;
line-height: 1.25rem;
height: 36px;
padding: 8px 24px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin-left: 406px;

}
.noteTools{
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.MuiInputBase-input-75 {
  width:307%!important;
}
.colorCard{
  width: 194%;
  margin-left: 14%;
  margin-top: -140%;
}

.tools{
display: flex;
justify-content: space-between;
}
.notesDiv1{
  display: flex;
  margin-top: 15%;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%
}
.notesCard{
  margin-bottom: 15%;
  width: 100%;
  justify-content: space-between;
}
  


.notesDiv2{

  width: 30%;
}
.notesDiv3{
  margin-top: 15%;
}


 



 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

